<div class="resource-counter" data-actor-id="{{actor.id}}">
  <label class="resource-label roll-arete">{{localize "MTA.Arete"}}</label>
  <div class="dots-tracker" data-property="system.arete">
    {{!-- O JS (MageActorSheet) irá lidar com a lógica de clique para preencher os pontos --}}
    {{{tracker actor.system.arete.value actor.system.arete.max "dot"}}}
  </div>
</div>