{{!-- Este template substitui o Frenzy, mas usa a mesma estrutura VTM para styling --}}
<div class="frenzy-tracker">
    <div class="frenzy-button">
<button type="button" class="frenzy-roll" data-action="paradoxBacklash">
    {{localize "WOD5E.MTA.ParadoxBacklash"}}
</button>
    </div>
</div>