{{!-- Este template substitui o Frenzy, mas usa a mesma estrutura VTM para styling --}}
<div class="frenzy-tracker">
    <div class="frenzy-button">
        {{!-- O botão chama a ação de rolagem de Frenesi da classe base (resistFrenzy) --}}
        <button type="button" class="frenzy-roll" data-action="resistFrenzy">
            {{!-- O rótulo é substituído pela sua chave de tradução (Surto de Paradoxo) --}}
            {{localize "WOD5E.Mage.ParadoxSurge"}}
        </button>
    </div>
</div>