<div class="resource-counter" data-actor-id="{{actor.id}}">
  <label class="resource-label">{{localize "MTA.Quintessence"}}</label>
  <div class="dots-tracker" data-property="system.quintessence">
    {{{tracker actor.system.quintessence.value actor.system.quintessence.max "dot"}}}
  </div>
</div>