<div class="resource-counter" data-actor-id="{{actor.id}}">
  <label class="resource-label roll-wisdom">{{localize "MTA.Wisdom"}}</label>
  <div class="humanity-tracker" data-property="system.wisdom">
    {{{tracker actor.system.wisdom.value 10 "dot" actor.system.wisdom.stains}}}
  </div>
</div>